.tablebord {
  border: 1px solid #000;
  border-collapse: collapse;
}

caption {
  border: 1px solid #000;
  font-family: sans-serif;
  font-weight: bold;
}

th,
td {
  border: 1px solid #000;
  font-family: sans-serif;
}

.red {
  color: red;
}
