.coaches .container--xl {
  position: relative;
  overflow: hidden;
}

.coaches__dec {
  display: block;
  position: absolute;
  content: "";

  opacity: 0.5;
  white-space: nowrap;
  z-index: var(--layer-negative);
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(12rem, 4rem + 20vw, 39.7rem);
  -webkit-text-stroke: 2px #ffffff85;
  color: transparent;
}

.coaches .container--xl::before {
  position: absolute;
  content: url(../../icons/dec.svg);
  z-index: var(--layer-negative);
}

@media (width > 1308px) {
  .coaches__dec {
    top: -22%;
    left: -45%;
    transform: translate(50%, 25%);
  }

  .coaches .container--xl::before {
    width: 50%;
    height: 50%;
    bottom: 17%;
    right: -2.6%;
  }
}

@media (width <= 1308px) {
  .coaches .container--xl::before {
    width: 100%;
    height: 100%;
    bottom: -20%;
    right: 0;
  }
}

.coaches__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.8rem, 0.59rem + 0.53vw, 1.5rem);
}

.coaches__title {
  font-family: var(--font-family);
  font-weight: 500;
  text-transform: uppercase;
  font-size: clamp(3.5rem, 2.46rem + 2.66vw, 7rem);
  color: var(--main-color);
  padding-top: clamp(5.6rem, 4.21rem + 3.57vw, 10.3rem);
}

.coaches__txt {
  font-family: var(--second-family);
  font-size: clamp(1.5rem, 0.56rem + 0.61vw, 1.6rem);
  line-height: 169%;
  text-align: center;
  color: var(--inactive-color);
  width: clamp(23.4rem, 16.48rem + 17.75vw, 46.8rem);
  margin-bottom: clamp(4.3rem, 3.03rem + 3.26vw, 8.6rem);
}

.coaches__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: clamp(4.25rem, 1.58rem + 1.71vw, 4.5rem);
  padding-inline: clamp(5.3rem, 0.73rem + 4.02vw, 10.6rem);
  padding-bottom: clamp(6.6rem, 4.62rem + 5.08vw, 13.3rem);
}

.coaches__card {
  position: relative;
}

.coaches__card::before {
  position: absolute;
  content: "";
  bottom: -5%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #7c7c7c;
}

.coaches__card::after {
  position: absolute;
  content: "";
  bottom: -5.5%;
  left: 0;
  width: 0;
  height: 8px;
  background: var(--accent-color);
  transition: width 0.3s ease;
}

@media (any-hover: hover) {
  .coaches__card:hover::after {
    width: 100%;
    transition: width 0.8s ease;
  }
}

.coaches__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: clamp(1.6rem, 1.1rem + 1.29vw, 3.3rem);
}

.coaches__link {
  position: relative;
  display: block;
}

.coaches__link::before {
  position: absolute;
  content: url(../../icons/twitter.svg);
  z-index: var(--layer-1);
  width: 60px;
  height: 60px;
  top: 5%;
  right: 5%;
  opacity: 0;
  transform: scale(0);
  transition: transform var(--tr-base);
}

@media (any-hover: hover) {
  .coaches__link:hover::before {
    opacity: 1;
    transform: scale(1);
  }
}

.coaches__image {
  position: relative;
}

.coaches__image::after {
  position: absolute;
  content: "";
  inset: 0;
  background: var(--accent-color);
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

@media (any-hover: hover) {
  .coaches__card:hover .coaches__image::after {
    opacity: 0.25;
  }
}

.coaches__features {
  display: flex;
  --features-gap: clamp(1.9rem, 1.34rem + 1.44vw, 3.8rem);
  gap: var(--features-gap);
}

.coaches__card-txt {
  position: relative;
  font-family: var(--second-family);
  text-transform: uppercase;
  font-weight: 600;
  text-wrap: nowrap;
  font-size: clamp(1rem, 0.7rem + 0.76vw, 2rem);
  letter-spacing: 0.2em;
  color: var(--accent-color);
  margin-bottom: 4px;
}

.coaches__card-txt:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(var(--features-gap) / -2);
  transform: translate(50%, -50%);
  border-radius: 50%;
  width: clamp(0.3rem, 0.21rem + 0.23vw, 0.6rem);
  height: clamp(0.3rem, 0.21rem + 0.23vw, 0.6rem);
  background: var(--main-color);
}

.coaches__card-subtitle {
  position: relative;
  font-family: var(--font-family);
  text-transform: uppercase;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: clamp(2.1rem, 1.48rem + 1.59vw, 3.2rem);
  color: var(--main-color);
}

@media (width <= 768px) {
  .coaches__info {
    grid-template-columns: 1fr 1fr;
    gap: clamp(3rem, 2.11rem + 2.28vw, 6rem);
  }
}
