.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3cbd9;
  padding: 30px 0px;
  margin-bottom: 80px;
}

.header__info {
  text-align: right;
}

.header__text {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
  margin-bottom: 8px;
}

.header__number {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
}
